extends layout

block content
	h1 Hello Boulder!

	h3 Last Submission
	p #{submissionData.username}

	form(method="post", action="/handleForm")
		input(type="text", name="username", placeholder="Username")
		input(type="text", name="email", placeholder="Email")
		input(type="submit")

	h5 sublime git package test 2
	h5 git command test
	h5 git command test 2
	h5 git command test 3
	h5 git command test 4
	h5 git command test 5
	h5 git command test 6
	